@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');


body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
    width: 100%;
}
.main{
    display: flex;
    margin-left: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 500px;
 
 
}
.nav-link1{
    margin-left: 50px;
    background-color: #dd9a05;
    width: 30px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-link:link, .nav-link:visited{
    color: rgb(39, 33, 33);
    padding: 0.8rem;
    transition: all 300ms ease-in-out;
}
.nav-link:hover{
    border-radius: 0.3rem;
    background-color: #dd9a05;
}
.hamburger{
    display: none;
}
.slider2{
    display: flex;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
.container {width: 90% !important;
display: flex;
gap: 10px;

height: auto;
margin-left: 60px;
margin-top: 30px;

}
.container1{
    width: 40%;
    border: 2px solid red;
    background-color: rgba(243,192,191,255);
    margin-left: -5px;
}
.carousel slide{
    width: 50%;
}
.jutebag1{
    margin-left: 180px;
    margin-top: -30px;
    height: auto;
}

.jute{
    margin-left: -160px;
    font-size: larger;
    margin-top: 40px;
    font-weight: 900;
}

.sale{
    display: flex;
    width: 100%;
    height: 40%;
    margin-top: 27px;
    margin-left: 0px;
    border:2px solid blue;
    text-align: center;
    background-color: #f3e3bf;
    gap: 10px;
}
.h1{
    margin-left: 40px;
    margin-top: 25px;
}
.red{
    color: red;
     margin-top: 25px;
}
.sale2{
    border: 2px solid blue;
    width: 80%;
    height: 50%;
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    gap: 10px;
}

.maindiv{
    width: 90%;
    margin-left: 40px;
    gap: 10px;
    margin-top: 1%;
    border: 2px solid blue;
    height: 350px;
    display: flex;

}
.div1{
    width: 22%;
    border: 1px solid red;
    height: 350px;
    margin-left: 50px;
    display: flex;
    background-color:#f3c0bf ;

}
.imagejute1{
    margin-top: 50px;
}
.div2{
    width: 22%;
    border: 1px solid rgb(60, 231, 8);
    height: 350px; 
    background-color: #f3e3bf
}
.para1{
    color: green;
    font-family: cursive;
    font-size: 70px;
    text-align: center;
}
.para2{
    font-family: cursive;
    font-size: 70px;
}
.div3{
     width: 50%;
    border: 1px solid rgb(242, 255, 0);
    height: 350px;
}
hr{
   margin-top:5px;
   width: 40px;
    height: 2px;
    background-color:#51df21
}
h4{
    margin-top: -5px;
}
.long{
    width: 100%;
}
.welcome1{
    text-align: center;
    padding: 1%;
    margin-top: 20px;
}
.wel{
    color: #1a815e;
    font: bolder;
    font-weight: bolder;
    font-size: 20px;
}
h1{
    font-size: 50px;
    margin-top: -5px;
}
.arrival{
    width: 90%;
    border: 2px solid red;
    margin-left: 80px;
    height: 700px;
}
.arrival1{
    display: flex;
    width: 100%;
    border: 1px solid rgb(69, 7, 239);
    height: 350px;
    gap: 10px;
}
.arr{
    width: 25%;
    border: 1px solid goldenrod;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.arr1{
    margin-top: 10px;
}
.arrival-jute-div{
margin-top: 30px;
text-align: center;

}
.arr-jute-bag{
    text-align: center;
    color: black;
    margin-top: -10px;
   font-weight: 600;
    
}
.arr-jute-bag1{
    font-weight: 900;
    font-size: 15px;
}
.image-jute-bag{
    margin-left: 110px;
}